@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  background-color: #2d2d2d;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  /*-webkit-box-shadow: 25px 25px 0px 0px rgba(142, 142, 142, 1);*/
  /*-moz-box-shadow: 25px 25px 0px 0px rgba(142, 142, 142, 1);*/
  /*box-shadow: 25px 25px 0px 0px rgba(142, 142, 142, 1);*/
}

.time-left {
  font-size: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.length-box {
  display: flex;
  justify-content: space-between;
}

.break-box, .session-box {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-box {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #2d2d2d;
  font-size: 20px;
  border: none;
  margin: 15px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  user-select: none;
}
button:hover {
  opacity: 0.9;
}
button:active {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
button:focus {
  outline: none;
}
button > i {
  margin: 5px;
}

.play_stop {
  background-color: #088;
  border: 1px solid #088;
  color: #fff;
  width: 100px;
}
.play_stop:active {
  border: 1px solid #088;
}

.reset {
  background-color: #eb4d4b;
  border: 1px solid #eb4d4b;
  color: #fff;
  width: 100px;
}
.reset:active {
  border: 1px solid #eb4d4b;
}
