@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark: #2d2d2d;
  --darker: #222;
  --blue: #00acc1;
  --red: #de3c4b;
  --purple: #81559b;
  --yellow: #ea9010;
}

body {
  background-color: var(--dark);
  font-family: "Space Mono", "Courier New", Courier, monospace;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  background-color: var(--darker);
  color: #fff;
  font-size: 20px;
  padding: 20px;
  /*-webkit-box-shadow: 25px 25px 0px 0px rgba(142, 142, 142, 1);*/
  /*-moz-box-shadow: 25px 25px 0px 0px rgba(142, 142, 142, 1);*/
  /*box-shadow: 25px 25px 0px 0px rgba(142, 142, 142, 1);*/
}

.time-left {
  font-size: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.length-box {
  display: flex;
  justify-content: space-between;
}

.break-box,
.session-box {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-box {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #fff;
  border: 1px solid #fff;
  color: var(--dark);
  font-size: 20px;
  border: none;
  margin: 15px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  user-select: none;
}
button:hover {
  opacity: 0.9;
}
button:active {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
button:focus {
  outline: none;
}
button > i {
  margin: 5px;
}

.blue_button {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
  width: 150px;
}
.blue_button:active {
  border: 1px solid var(--blue);
}

.red_button {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: #fff;
  width: 150px;
}
.red_button:active {
  border: 1px solid var(--red);
}

.time_preset_purple {
  background-color: var(--purple);
  border: 1px solid var(--purple);
  color: #fff;
  width: 100px;
}

.time_preset_yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: #fff;
  width: 100px;
}

.time_preset:active {
  border: 1px solid var(--purple);
}
